[Unit]
Description=Borg API Socket

[Socket]
ListenStream=3131
ListenStream=3132
BindIPv6Only=both
NoDelay=true
# Queue incoming connections while the service restarts
Backlog=512

[Install]
WantedBy=sockets.target
